#TOC ul,
#TOC li,
#TOC span,
#TOC a {
  margin: 0;
  padding: 0;
  position: relative;
}

/*Table of Contents*/
#TOC {
  line-height: 1;
  border-radius: 5px 5px 0 0;
  background: #eeeeee;
  // background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  border-bottom: 2px solid #27408B;
  width: auto;
}

/* This makes the whole menu look rectangular*/
#TOC:after,
#TOC ul:after {
  content: '';
  display: block;
  clear: both;
}

/* Link in TOC*/
#TOC a {
  background: #eeeeee;
  // background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  color: #222222;
  display: block;
  padding: 19px 20px;
  text-decoration: none;
  text-shadow: none;
}

/* List in TOC */
#TOC ul {
  list-style: none;
}

/* list item in ul in TOC*/
#TOC > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}

/* link in list item in ul in TOC*/
#TOC > ul > li > a {
  color: #222222;
}

/* after hover in list item in ul in TOC*/
#TOC > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #27408B;
  margin-left: -10px;
}

/* link in first list item in list in TOC*/
/* Makes top of menu have rounded borders */
#TOC > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
}

//
#TOC.align-right > ul > li:first-child > a,
#TOC.align-center > ul > li:first-child > a {
  border-radius: 0;
}

//
#TOC.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
}

/* Hover effects for  first-level links */
#TOC > ul > li.active > a,
#TOC > ul > li:hover > a {
  color: #4169e1;
  background: #dddddd;
}

//
#TOC .has-sub {
  z-index: 1;
}

//
#TOC .has-sub:hover > ul {
  display: block;
}

/* Hide second-level lists  */
#TOC ul li ul {
  display: none;
  position: absolute;
  width: 400px;
  top: 100%;
  left: 0;
}

/* Makes second-level lists display when hover */
#TOC ul li:hover ul {
  display: block;
  z-index: 9999;
}


/* Format second-level links */
#TOC ul li ul li a {
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  background: #eeeeee;
  color: #222222;
  text-decoration: none;
  text-shadow: none;
  font-size: 90%;
}

#TOC ul li:hover ul li a:hover {
  color: #4169e1;
  background: #dddddd;
}

//
#TOC .has-sub ul li:hover a {
  \\background: #0c7fb0;
}

//
#TOC ul ul li:hover > a {
  color: #4169e1;
}

//
#TOC .has-sub .has-sub:hover > ul {
  display: block;
}

//
#TOC .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#TOC .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #31b7f1;
}

//
#TOC .has-sub .has-sub ul li a:hover {
  background: #0a6d98;
}
#TOC ul ul li.last > a,
#TOC ul ul li:last-child > a,
#TOC ul ul ul li.last > a,
#TOC ul ul ul li:last-child > a,
#TOC .has-sub ul li:last-child > a,
#TOC .has-sub ul li.last > a {
  border-bottom: 0;
}
//
#TOC ul {
  font-size: 1.2rem;
}

//
#TOC .part {
  color: #ffffff;
}
